<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanxin.dao.Affichedao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lanxin.bean.Affiche">
        <id column="oid" property="oid" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="hosid" property="hosid" />
    </resultMap>

    <select id="selAffiche" resultMap="BaseResultMap" parameterType="com.lanxin.bean.Affiche">
        select * from affiche where (hosid is null or hosid=#{hosid})
        <if test="title!=null">
            and title like '%${title}%'
        </if>
        <if test="content!=null">
            and content like '%${content}%'
        </if>

    </select>

</mapper>
